<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mapper.PaperMapper">
  <resultMap id="BaseResultMap" type="com.java.pojo.Paper">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
  </resultMap>
  <sql id="Base_Column_List">
    pid, pname, sid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paper
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <select id="selectPaperList" resultType="com.java.vo.PaperVO">
    select pname,count(*) totalCount from paper
    <if test="null!=pname and ''!=pname">
      <where>
        pname like concat('%',#(pname),'%')
      </where>
    </if>
    group by pname
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from paper
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
<!--  批量插入,集合为sids,集合中的元素为sid-->
  <insert id="insertBatch">
    insert into paper(pname,sids) values
        <foreach collection="sids" item="sid" separator=",">
          (#{pname},#{sid})
        </foreach>
  </insert>

  <insert id="insert" parameterType="com.java.pojo.Paper">
    insert into paper (pid, pname, sid
      )
    values (#{pid,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{sid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.java.pojo.Paper">
    insert into paper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="sid != null">
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.java.pojo.Paper">
    update paper
    <set>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java.pojo.Paper">
    update paper
    set pname = #{pname,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=INTEGER}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>