<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑系统功能</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/theme.css}">
    <script th:src="@{/js/jquery.js}" type="text/javascript"></script>
</head>
<body class="content1">
<script>
    $('#a_leader_txt', parent.document).html('编辑系统功能');
</script>
<div class="container-fluid">
    <div class="row-fluid">
        <form method="post" action="@{/sys/fun/edit}">
            <div class="btn-toolbar">
                <input type="submit" class="btn btn-primary" value="保存 ">
                <a th:href="@{/sys/fun/(cmd=list)}" class="btn">取消</a>
            </div>
            <div class="well">
                <div class="tab-pane active in">
                    <label>
                        父功能名称：
                    </label>
                    <input type="hidden" name="funid" th:value="${fun.funid}"/>
                    <input type="text" th:value="${fun.parentFunname}" readonly>
                    <label>
                        功能名称：
                    </label>
                    <input type="text" name="funname" maxlength="10" th:value="${fun.funname}">
                    <label>
                        功能地址：
                    </label>
                    <input type="text" name="funurl" th:value="${fun.funurl}" maxlength="100" readonly>
                    <label>
                        功能状态：
                    </label>
                    <select name="funstate">
                        <option value="1" th:selected="${fun.funstate==1}">正常</option>
                        <option value="0" th:selected="${fun.funstate==0}>锁定</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>