<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>增加试题功能</title>
    <link type="text/css"  rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link type="text/css"  rel="stylesheet" th:href="@{/css/theme.css}">
    <script th:src="@{/js/jquery.js}" type="text/javascript"></script>
</head>

<body class="content1">
<script>
    $('#a_leader_txt', parent.document).html('添加试题功能');
</script>
<div class="container-fluid">
    <div class="row-fluid">
        <form method="post" th:action="@{/sys/subject/add}">
            <div class="btn-toolbar">
                <input type="submit" class="btn btn-primary" value="保存 ">
                <a th:href="@{/sys/subject(cmd=list)}" class="btn">取消</a>

            </div>

            <div class="well">
                <div class="tab-pane active in">
                    <label>
                        题干：
                    </label>
                    <input type="text" name="scontent" maxlength="100">

                    <label>
                        A选项内容：
                    </label>
                    <input type="text" name="sa" maxlength="100">
                    <label>
                        B选项内容：
                    </label>
                    <input type="text" name="sb" maxlength="100">
                    <label>
                        C选项内容：
                    </label>
                    <input type="text" name="sc" maxlength="100">
                    <label>
                        D选项内容：
                    </label>
                    <input type="text" name="sd" maxlength="100">
                    <label>
                        标准答案选项：
                    </label>
                    <input type="text" name="skey" maxlength="10">
                    <label>
                        试题状态：
                    </label>
                    <select name="sstate">
                        <option value="1">
                            正常
                        </option>
                        <option value="0">
                            锁定
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>